[defaults]

inventory  =/mnt/c/Automation/assig2/hosts
roles_path =/mnt/c/Automation/assig2/roles
forks = 5
host_key_checking = False
deprecation_warnings = False




[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False


#[windows:vars]
#ansible_user = shisdew
#ansible_password =  "Shi5leo!"
#ansible_connection = winrm
#ansible_port=5985
#ansible_winrm_transport = ntlm
#ansible_winrm_server_cert_validation = ignore
#ssh_args=-o ControlMaster=no